<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<clear/>
		<add name="UNotionsDB_ConnectionString" connectionString="Data Source=.;Initial Catalog=UNotionsDB;Integrated Security=True;Encrypt=false;MultipleActiveResultSets=True;"/>
	</connectionStrings>
	
</configuration>